.recipe{
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFF;
    min-width: 450px;
    max-width: 450px;
    padding: 10px;
}

.image{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipeCalories{
    text-align: center;
}

.recipe .recipeTitle{
    text-align: center;
    font-weight: 300;
}

.recipe .recipeIngredient{
    font-weight: 300;
}

.recipe ul {
    list-style: none;
    text-align: start;
}

@media screen and (max-width: 768px){
    .recipe{
        min-width: 18rem;
        max-width: 18rem;
    }
}
