.container{
    display: flex;
    justify-content: center;
    border-radius: 0.4rem;
    margin: 0rem 0;
    padding: 5rem 0;
}
.aboutBox{
    padding: 4rem;
    max-width: 900px;
    text-align: justify;
}

.aboutH{
    margin: 0 2rem;
    align-self: center;
    font-weight: 400;
}
.aboutT{
    margin: 0 2rem;
    font-weight: 300;
}