.RecipeList {
  min-height: 100vh;
  background-color: #ECECEC;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 0;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 35%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 0 2rem 0;
}

.search-button{
  background-color: rgb(85, 202, 241);
  padding: 10px 20px;
  border: 1px solid rgb(85, 202, 241);
  color: white;
  margin: 0 0 2rem 0;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}