@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  --primaryBlue: rgba(53, 164, 228, 0.781);
  --primaryBlack: #292828e1;
  --primaryWhite: #FFF;
  --primaryGrey: #ececec;
  --primaryBlueLight: rgba(73, 172, 211, 0.623);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
